.checkout__ad {
    object-fit: contain;
    width: 100%;
    margin-bottom: 10px;
}

.checkout__info {
    padding-top: 10px;
    margin-left: 10px;
}

.checkout__title {
    padding-top: 10px;
    margin-left: 10px;
}

.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}